# Dependency directories
node_modules/

# VuePress directories
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/

# OS metadata
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
